.container {
    -fx-padding: 25px;
}
.container2 {
    -fx-padding: 25px;
}
.button {
    -fx-base: lightblue;
    -fx-font-size: 14px;
}
.warning {
    -fx-fill : #b71c1c;
    -fx-font-weight: bold;
}
#headerLabel {
    -fx-font-size: 20px;
    -fx-alignment: top-center;
    -fx-text-alignment: center;
}
.hbox {
    -fx-spacing: 10px;
}

#vbox {
    -fx-spacing: 10px;
}

#borderPane {
    -fx-padding: 15px;
}

.textView {
    -fx-font-size: 15px;
}

.money {
    -fx-fill : #fbc02d;
    -fx-font-size: 15px;
    -fx-font-weight: bold;
}

.moneyAccount {
-fx-fill : #2e7d32;
    -fx-font-size: 15px;
    -fx-font-weight: bold;
}

.moneyPay {
-fx-fill : #d32f2f;
    -fx-font-size: 15px;
    -fx-font-weight: bold;
}

.tab-label {
    -fx-content-display: top;
}
.tab-main {
    -fx-tab-min-height: 50;
    -fx-tab-max-height: 50;
}

.vbox {
-fx-spacing: 15px;
-fx-padding: 15px;
}

.searchBar {
  -fx-background-image: url('../image/search-circled.png');
  -fx-background-repeat: no-repeat;
  -fx-background-position: right center;
}

.imageHolder {
    -fx-padding: 5;
    -fx-background-color: firebrick;
    -fx-background-radius: 5;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}

